:root {
    --grid-cols: 16;
    --base: rgb(255, 255, 255); 
}

#container {
    display: grid;
    width: 500px;
    height: 500px;
    border: 1px solid black;
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.grid-item {
    background-color: var(--base);
}