:root {
    --grid-cols: 16;
    --base: rgb(255, 255, 255); 
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto Mono', monospace;
    background-color: #00203FFF;
    color: #ADEFD1FF;
}

h1 {
    font-size: 50px;
    margin-bottom: 4rem;
}

button { 
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 1rem;
    background-color: #ADEFD1FF;
    border: none;
    color: #c71414;
    width: 200px;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    background: #c71414;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 2rem;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #ADEFD1FF;
}

#btn-clear {
    grid-area: clear;
}

#btn-erase {
    grid-area: erase;
}

#btn-rainbow {
    grid-area: rainbow;
}

#color-select {
    grid-area: colorSelect;
}

#lbl-size {
    grid-area: sizeLabel
}

#size-slider {
    grid-area: slider
}

#lbl-color {
    grid-area: colorLabel;
}

.controls {
    display: grid;
    margin-bottom: 1rem;
    width: 80%;
    grid-template-areas: 
        "clear erase rainbow"
        "colorLabel colorSelect colorSelect"
        ". sizeLabel ."
        "slider slider slider";
    justify-items: center;
}

#container {
    display: grid;
    width: 500px;
    height: 500px;
    border: 1px solid black;
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.grid-item {
    background-color: var(--base);
}